<div class="">
    1st Number : <input type="text" ng-model="num1" ng-change="calc.add(num1, num2)"><br />
    2nd Number : <input type="text" ng-model="num2" ng-change="calc.add(num1, num2)">
    <input type="button" ng-model="calc.add" />

    Sum : {{calc.result}}
</div>

<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <h1>Pet Shop</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <h2 ng-click="petType = 'Dog'">Dogs</h2>
        <h2 ng-click="petType = 'Rabbit'">Rabbits</h2>
    </div>
    <div class="col-md-11" ng-show="petType === 'Dog'">
        <div class="col-md-4" ng-show="dog in petShop.pets.dogs">
            <images ng-src="{{dog.image}}" class="thumbnail" />
            <br />
            {{dog.name}}
        </div>
    </div>
    <div class="col-md-11" ng-show="petType === 'Rabbit'"></div>

</div>